name: A workflow for WorldPopulation
on:
  push:
    branches:
      - master
      - develop
jobs:
  UnitTests:
    name: Unit Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 18
        uses: actions/setup-java@v2
        with:
          java-version: '18'
          distribution: 'adopt'
      - name: Unit Tests
        run: |
            mvn -Dtest=com.group12.testing.CountryReportTest test
            mvn -Dtest=com.group12.testing.CityReportTest test
            mvn -Dtest=com.group12.testing.CapitalReportTest test
            mvn -Dtest=com.group12.testing.PopulationReportTest test
            mvn -Dtest=com.group12.testing.LanguageReportTest test

  IntegrationTests:
    name: Integration Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 18
        uses: actions/setup-java@v4
        with:
          java-version: '18'
          distribution: 'adopt'
      - name: Integration Tests
        run: |
          docker build -t database ./db 
          docker run --name world -dp 33060:3306 database
          mvn -Dtest=com.group12.testing.AppIntegrationTest test
          docker stop world
          docker rm world
          docker image rm database                    

  build:
    name: Build and Start Using docker-compose
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 18
        uses: actions/setup-java@v2
        with:
          java-version: '18'
          distribution: 'adopt'
      - name: Package and Run docker compose
        run: |
          mvn package -DskipTests
          docker compose up --abort-on-container-exit
