name: A workflow for WorldPopulation
on: push

jobs:
  build:
    name: WorldPopulation Report
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up JDK 18
        uses: actions/setup-java@v2
        with:
          java-version: '18'
          distribution: 'adopt'
      - name: Unit Tests
        run: mvn -Dtest=com.group12.testing.AppTest test
      - name: Package and Run docker compose
        run: |
            mvn package -DskipTests
            docker compose up --abort-on-container-exit

